/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Norse';
  src: url("webfontkit-20250331-203406/norse-bold-webfont.woff2") format("woff2"),
       url("webfontkit-20250331-203406/norse-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
    display: flex;  
    justify-content: center;
}

.sign-up {
    flex-grow: 2;
    background-color: rgb(206, 205, 205);
    height: 100vh;
    width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-image {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100vh;
    width: 266px;
    position: relative;
}

.logo-image > img {
    max-width: 100%;
    height: 100%;
}

.logo {
    height: 6rem;
    background-color: rgb(2 2 2/ 0.5);

    position: absolute;
    top: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    max-width: 100%;
    height: 90%;
}

.logo > h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Norse';
    text-align: center;    
}

.sign-up div:nth-child(2) {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: rgb(59, 59, 59);
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

input {
  all: unset;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}
.sign-up div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 50px;
  align-items: flex-start;
}

.sign-up > div:nth-child(2) h2 {
  margin-top: 30px;
  margin-left: 50px;
}

.sign-up > div:nth-child(1) > h1 {
  margin-left: 50px;
  margin-bottom: 60px;
}

button {
  margin: 30px 0 30px 50px;
  background-color: rgb(71, 140, 231);
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(60, 130, 225);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  box-shadow: 0 0 0 3px rgba(71, 140, 231, 0.5);
  background-color: rgb(42, 127, 238);
}

.sign-up p {
  margin-left: 50px;
  font-size: 1.2rem;
}

.logo-image p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: black;
}

a {
  color: black;
}

span {
  color: rgb(71, 140, 231);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

input:invalid:focus {
  border: 1px solid red;
}

input:focus {
  border: 1px solid rgb(71, 140, 231);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
}